ASERTO_POLICY_ROOT=todoApp

# Topaz
#
# This configuration targets a Topaz instance running locally.
# To target an Aserto hosted authorizer, comment out the lines below and uncomment the section
# at the bottom of this file.
ASERTO_AUTHORIZER_SERVICE_URL=localhost:8282
ASERTO_AUTHORIZER_CERT_PATH=${HOME}/.local/share/topaz/certs/grpc-ca.crt

PORT=8080
